.testimonials {
  padding: 1rem 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.testimonial {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 5rem;
}

.testimonial__text {
  max-width: 60%;
}

.testimonial__quote::before, .testimonial__quote::after {
  display: block;
  font-family: var(--heading-font);
  font-size: 5rem;
  box-sizing: border-box;
}

.testimonial__quote::before {
  content: '“';
  line-height: 2rem;
}

.testimonial__quote::after {
  content: '”';
  text-align: right;
  line-height: 6rem;
}

.testimonial__author {
  transform: translateY(-2rem);
}

.testimonial__author::before {
  content: '-';
  display: inline-block;
  margin-right: 0.5rem;
}

.testimonial__photo img {
  max-height: 20rem;
  border-radius: 50%;
}

.testimonials__nav-button {
  border: 0;
  background: none;
  position: absolute;
}

.testimonials__nav-button:hover {
  cursor: pointer;
}

.testimonials__nav-button:first-child {
  left: 0;
  top: 50%;
}

.testimonials__nav-button:last-child {
  right: 0;
  top: 50%;
}

.testimonials__arrow {
  width: 2rem;
  margin: 0 1rem;
}
