.contact-us__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.contact-us__form input, .contact-us__form textarea {
  font-size: var(--body-font-size);
}

.contact-us__real-world {
  font-size: var(--body-font-size);
}

.contact-us__address, .contact-us__email {
  margin-bottom: 1.5rem;
}

.contact-us__phone {
  margin-bottom: 0.5rem;
}
