.get-started__intro {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.get-started__intro .intro__heading {
  width: 100%;
  padding-left: 2rem;
}

@media only screen and (max-width: 480px) {
  .get-started__intro .intro__heading {
    padding: 0;
  }
}

.get-started__intro .intro__step-container {
  flex-basis: 65%;
  padding: 0 1rem;
}

@media only screen and (max-width: 480px) {
  .get-started__intro .intro__step-container {
    flex-basis: 95%;
    padding: 0;
  }

  .get-started__intro .intro__step-container ul {
    list-style-type: none;
    padding: 0;
  }

  .get-started__intro .intro__step-container li {
    margin-bottom: 1rem;
  }
}

.get-started__intro .intro__form-container {
  padding: 0 1rem;
  background: #005fed;
  color: #fff;
}

.intro__form-container .get-started__form {
  margin: auto;
}

.get-started__testimonials-container {
  background: #005fed;
  color: #fff;
  margin-top: 2rem;
}

.get-started__testimonials-container .testimonials__arrow path {
  fill: #fff;
}

.get-started__memberships {
  display: flex;
  flex-flow: row wrap;
}

.memberships__heading {
  width: 100%;
  padding-left: 2rem;
}

.dropin__content {
  padding: 20rem 5rem 5rem;
}

.dropin__text {
  color: #fff;
  background: linear-gradient(rgba(0,95,237,0.8),rgba(0,95,237,0.8));
  max-width: 50%;
  padding: 2rem;
  font-size: 1.25rem;
}

@media only screen and (max-width: 800px) {
  .dropin__text {
    max-width: none;
  }
}

@media only screen and (max-width: 480px) {
  .dropin__content {
    padding: 0;
  }

  .dropin__text {
    background: #f7f7f7;
    color: #222;
    max-width: none;
  }
}
