.get-started__intro {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.get-started__intro .intro__heading {
  width: 100%;
  padding-left: 2rem;
}

.get-started__intro .intro__step-container {
  flex-basis: 65%;
  padding: 0 1rem;
}

.get-started__intro .intro__form-container {
  padding: 0 1rem;
  background: var(--tcf-blue);
  color: var(--white);

}

.intro__form-container .get-started__form {
  margin: auto;
}

.get-started__testimonials-container {
  background: var(--black-a8);
  color: var(--white);
}

.get-started__testimonials-container .testimonials__arrow path {
  fill: var(--white);
}
