# Foundationpress
.DS_Store
config.yml
node_modules
npm-debug.log
*.sass-cache*
*.log
.idea/
*.swp
packaged/
wpcs/

# Local setup
.htaccess

# Wordpress
wp-config.php
uploads

# Create React App
wp-content/themes/reactfit/*
!wp-content/themes/reactfit/react-src

# Ignore backups created by plugin
wp-content/ai1wm-backups
