.site-footer {
  color: #fff;
}

.site-footer a {
  color: #ffcb00;
}

.site-footer__upper, .site-footer__lower {
  padding: 1rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.site-footer__upper {
  background: linear-gradient(rgba(34,34,34,0.9),rgba(34,34,34,0.9));
  font-size: 18px;
}

@media only screen and (max-width: 480px) {
  .site-footer__upper {
    flex-direction: column;
    padding: 1rem;
    text-align: center;
  }

  .site-footer__hours {
    width: 100%;
  }
}

.hours__list, .hours-list ul, .hours__list li, .hours__list li ul {
  list-style: none;
  padding-left: 0;
}

.hours__list>li {
  margin: 1rem 0;
}

.hours__type {
  font-weight: 700;
}

.site-footer__location>div {
  margin: 1rem 0;
}

.site-footer__social {
  padding: 1.25rem;
  min-width: 10rem;
  text-align: right;
}

@media only screen and (max-width: 480px) {
  .site-footer__social {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
  }
}

.site-footer__social .social__icon {
  margin: 0 1em;
}

.site-footer__lower {
  background: #222;
  font-size: 14px;
}
