.site-header {
  background: linear-gradient(#222,#222);
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: all .5s ease-in-out;
}

.site-header--scrolled {
  background: linear-gradient(rgba(34,34,34,0.9),rgba(34,34,34,0.9));
}

.header__row-one, .header__row-two {
  width: 100vw;
  padding: 10px;
}

.header__row-one {
  background: #222;
}

.header__contact {
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.contact__phone, .contact__email, .contact__address {
  margin: 0 1.5em 0 0.5em;
}

.header__row-two {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.header__logo img {
  width: 10rem;
  transition: all .5s ease-in-out;
}

.site-header--scrolled .header__logo img {
  width: 5rem;
}

.header__menu {
  display: flex;
  flex-flow: row wrap;
}

.site-header--scrolled .header__menu {
  flex-flow: row nowrap;
}

.header-menu__item {
  margin: 0 1.5rem;
  font-weight: 700;
  font-size: 1.25rem;
  transition: all .5s ease-in-out;
}

.site-header--scrolled .header-menu__item {
  transform: scale(0.9);
}

.header-menu__item a {
  color: #fff;
  transition: all .5s ease-in-out;
}

.header-menu__item a:hover {
  color: #ffcb00;
}

.header__hammy {
  display: none;
  visibility: hidden;
}

@media only screen and (max-width: 480px) {
  .header__content {
    position: fixed;
    height: 0;
    overflow: hidden;
    transition: all .5s ease-in-out;
    background: linear-gradient(#222f, #222c);
    display: flex;
    flex-direction: column;
  }

  .header__row-one {
    background: none;
    order: 1;
    margin-top: 2rem;
  }

  .header__row-two {
    flex-direction: column-reverse;
  }

  .header__logo {
    margin-top: 2rem;
  }

  .header__content .header__logo img {
    width: 10rem;
  }

  .contact__group {
    display: block;
  }

  .header__menu {
    display: block;
    margin: 1rem auto;
  }

  .header-menu__item {
    text-align: center;
    margin: 1rem auto;
    font-size: 1.75rem;
  }

  .header__hammy {
    display: block;
    visibility: visible;
    cursor: pointer;
    padding: 0.5rem 1rem;
  }

  .hammy__top, .hammy__mid, .hammy__bot {
    width: 2rem;
    height: 5px;
    background: #ffcb00;
    margin: 6px 0;
    transition: all .5s ease-in-out;
  }

  .site-header--open .hammy__top {
    transform: rotate(-45deg) translate(-8px, 6px);
    background: #005fed
  }
  .site-header--open .hammy__mid {
    opacity: 0;
  }
  .site-header--open .hammy__bot {
    transform: rotate(45deg) translate(-9px, -8px);
    background: #005fed
  }
}
