.site-header {
  background: linear-gradient(var(--black-opaque), var(--black-opaque));
  color: var(--white);
}

.header__row-one, .header__row-two {
  display: flex;
  width: 100vw;
  padding: 10px;
}

.header__contact {
  font-size: 14px;
  font-weight: 700;
  padding-left: 2em;
}


.hero--temp {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
}
