.button {
  display: inline-block;
  padding: 1rem;
  margin: 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  background: #005fed;
  transition: all .5s ease-in-out;
}

.button:hover {
  background: #fff;
  color: #005fed;
  cursor: pointer;
}

.button--white {
  background: #fff;
  color: #005fed;
}

.button--white:hover {
  background: #005fed;
  color: #fff;
}

.button--white-alt {
  background: #fff;
  color: #005fed;
}

.button--white-alt:hover, .button--alt:hover {
  background: #ffcb00;
  color: #383838;
}

.button--no-margin {
  margin: 0;
  border: 0;
}

.button__container {
  text-align: center;
}

.social__icon {
  max-width: 3em;
}

.social__icon path, .social__icon circle {
  fill: #fff;
  transition: fill .5s ease-in-out;
}

.social__icon:hover path, .social__icon:hover circle {
  fill: #ffcb00;
}
