.button {
  display: inline-block;
  padding: 1rem;
  margin: 1rem;
  border-radius: var(--rounded);
  color: var(--white);
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  background: var(--tcf-blue);
  transition: var(--transition);
}

.button:hover {
  background: var(--white);
  color: var(--tcf-blue);
}

.button--white {
  background: var(--white);
  color: var(--tcf-blue);
}

.button--white:hover {
  background: var(--tcf-blue);
  color: var(--white);
}

.button--white-alt {
  background: var(--white);
  color: var(--tcf-blue);
}

.button--white-alt:hover {
  background: var(--yellow);
  color: var(--gray);
}

.button__container {
  text-align: center;
}

.social__icon {
  max-width: 3em;
}

.social__icon path, .social__icon circle {
  fill: var(--white);
  transition: fill .5s ease-in-out;
}

.social__icon:hover path, .social__icon:hover circle {
  fill: var(--tcf-blue);
}
