/*
Removed for IE support, but kept here for reference
All instances of variable use replaced with values (ugh)
:root {
  --transition: all .5s ease-in-out;
  --rounded: 10px;
}
*/

body {
  background: #f7f7f7;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Utility classes for controlling page content position */
.section__container {
  /* full-width container for each content element */
  padding: 1rem 0;
}

.section {
  /* Container to keep content from bleeding too wide on large screens */
  box-sizing: border-box;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
  overflow: auto; /* Keeps margins of child elements from moving container */
}

/* App loading state */
.App--loading {
  background: rgba(34,34,34,0.3);
  width: 100vw;
  height: 100vh;
  padding: 30vh 0;
}
.loading__image {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.loading__spinner {
  display: block;
  margin: auto;
  width: 160px;
  height: 160px;
  position: relative;
}
.loading__spinner::after {
  content: " ";
  display: block;
  width: 144px;
  height: 144px;
  margin: 4px;
  border-radius: 50%;
  border: 6px solid #005fed;
  border-color: #005fed transparent #005fed transparent;
  animation: 1.2s linear infinite lds-dual-ring;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
