@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700|Montserrat:400,700&display=swap');

/*
Removed for IE support, but kept here for reference
All instances of variable use replaced with values (ugh)
:root {
  --heading-font: 'Montserrat', sans-serif;
  --body-font: 'Karla', sans-serif;
  --body-font-size: 1.125rem;
}
*/

body {
  font-family: 'Karla', sans-serif;
  font-size: 1.125rem;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #005fed;
  text-decoration: none;
  transition: color .5s ease-in-out;
}

a:visited:not(.button):not(.header__nav-link) {
  color: #8300ee;
}

a:hover {
  color: #ff6400;
}

/* Screen reader text class from WordPress */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
