@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700|Montserrat:400,700&display=swap');

:root {
  --heading-font: 'Montserrat', sans-serif;
  --body-font: 'Karla', sans-serif;
  --body-font-size: 1.125rem;
}

body {
  font-family: var(--body-font);
  font-size: var(--body-font-size);
}

h1, h2, h3, h4 {
  font-family: var(--heading-font);
}

a {
  color: var(--tcf-blue);
  text-decoration: none;
  transition: color .5s ease-in-out;
}

a:visited:not(.button){
  color: var(--purple);
}

a:hover {
  color: var(--orange);
}

/* Screen reader text class from WordPress */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
